{% load static %}
{% load mathfilters %}
<html lang="en">
<meta http-equiv="refresh" content="{{refresh}}"> <!--- countdownServerAdjustment --->
<head>
    <meta charset="UTF-8">
    <title>TFL - BUS STOP</title>
    <link rel="icon" href="{% static 'favicon.ico' %}"/>
    <link href="{% static 'bootstrap.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
</head>
<header>
<!------------------------ End Menu Area -------------------------------->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href=""><img src="{% static 'logo.png'%}" height="60px" width="200px" ></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="api">Call API</a>
        </li>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="results">Results</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <!------------------------ End Menu Area -------------------------------->
</header>

<body>
<h6>Next Refresh in: {{refresh}} seconds</h6>
  <a href="index"><div class="d-grid gap-2"><button class="btn btn-lg btn-primary" type="button" control-id="ControlID-86"><b>Live arrivals at: </b>{{ time_now }} <b>Station Name:</b> {{ station_name}}</button></div></a>


<h1></h1>
<div class="row" id="rowfor">
  <!------------------------ Iteration in each dict bus in list buses -------------------------------->
{% for each in buses %}
    <div class="col-4">
      <div class="card border-primary mb-3 m-2 " style="max-width: 20rem;">
        <div class="card-header bg-primary text-white fw-bolder">{{ each.lineName }}</div>
        <div class="card-body">
          <h4 class="card-title"> {{ each.destinationName }}</h4>
          <p class="card-text">VehicleID: {{ each.vehicleId }} </p>
          </div>
        <h7>Time to Arrive: {{ each.timeToStation|intdiv:'60'}} Minutes</h7>
        <div class="progress">
          <!------ get  % to change progress bar each.timeToStation|div:'60' (get minutes) |mul:'100' (get percet)|div:'30'  -->
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: {{ each.timeToStation|div:'60'|mul:'100'|div:'60'|mul:'2' }}%;"></div>
          </div>
        </div>
      </div>
{% endfor %}
  <!------------------------end  Iteration  -------------------------------->
    </div>
</body>
</html>